// Change featurette size
.featurette-icon {
  display: block;
  font-size: 25rem;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.svg-icon {
  width: 80%;
  height: 80%;
  padding: 0;
  border: 0;
  margin: 0;
}

.hero-title {
  font-size: 2rem;
}

.hero-lead {
  font-size: 1rem;
}



// This works, and does stuff
p {color: black}

